
{% extends 'base.html.twig' %}

{% block title %}Hello formation{% endblock %}

{% block body %}

  {% for formation in b %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> {{ formation.nom}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{  formation.nom_formateur }}</h6>
    <p class="card-text"> {{formation.description}} </p>
        <h6 class="card-subtitle mb-2 text-muted"> {{ formation.prix }}</h6>

    <a href="#" class="card-link">{{  formation.date_deb|date('d-m-Y') }}</a>
    <a href="#" class="card-link">{{  formation.date_fin|date('d-m-Y')}}</a>
 
  </div>
</div>
    {% endfor %}
{% endblock %}

  
  