
{% extends 'base.html.twig' %}

 {% block body %}

            <!-- Quick Action Toolbar Starts-->
          
            <!-- Quick Action Toolbar Ends-->
        
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
        
<div class="table-responsive" >
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">username</th>
   
      <th scope="col">age</th>

        <th scope="col">nom</th>
      <th scope="col">prenom</th>
      <th scope="col">role</th>
      <th scope="col">numtel</th>

        <th scope="col">email</th>
      <th scope="col">code</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in b %}
    <tr>
     
    <td> {{ user.id }}</td> 
     <td> {{ user.username}} </td> 
   
       <td>{{  user.age|date('d-m-Y') }}</td> 
        <td>{{  user.nom}} </td> 
         <td>{{  user.prenom }}</td> 
          <td>{{  user.role }}</td> 
           <td> {{ user.numtel }}</td> 
            <td> {{ user.email }}</td> 
             <td>{{  user.code }}</td> 
             <td> 
              <a href="{{path('modifieruser',{'id':user.id}) }}">modifier </a>
               <a href="{{path('deleteuser',{'id':user.id}) }}">supprimer </a>
               {% if user.role =="banned" %}
               {% set e ="unban" %}
               {% else %}
              {% set e ="ban" %}
                {% endif %}
              <a href="{{path('bann',{'id':user.id}) }}">{{  e }} </a>
             
              </td> 
    </tr>
  
      {% endfor %}

  </tbody>
</table>
</div>
{% endblock %}



   
           